@font-face {
  font-family: 'DrukTextWideCyr-Medium';
  src: url('../fonts/druktextwidecyr-medium.eot');
  src: url('../fonts/druktextwidecyr-medium.eot?#iefix') format('embedded-opentype'),
       url('../fonts/druktextwidecyr-medium.woff2') format('woff2'),
       url('../fonts/druktextwidecyr-medium.woff') format('woff'),
       url('../fonts/druktextwidecyr-medium.ttf') format('truetype'),
       url('../fonts/druktextwidecyr-medium.svg#druktextwidecyr-medium') format('svg');
}

body {
  margin: 0;
  font-family: "Commissioner", sans-serif;
  font-style: normal;
  font-variation-settings: "slnt" 0, "FLAR" 0, "VOLM" 0;
  background-image: url('../images/background.svg');
}

.header {
  background-color: white;
  color: #1A1A1A;
  z-index: 0;
  position: relative;
}

.container {
  max-width: 1160px;
  margin: 0 auto;
}

.MSokoloff {
  font-weight: bolder;
  max-width: 25px;
  text-align: left;
  margin-right: auto;
}

h3 {
  text-align: center;
  color: #3B4649;
  font-weight: 700;
  margin-bottom: 250px;
  margin-top: 50px;
  font-size: 40px;
}

.contact {
  font-family: "Commissioner", sans-serif;
  font-style: normal;
  font-variation-settings: "slnt" 0, "FLAR" 0, "VOLM" 0;
  font-size: 20px;
  color: #1A1A1A;
}

.contact a {
  background-color: #3B4649;
  color: #ffffff;
  padding: 13px 27px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  text-decoration: none;
}

.return-button {
  display: inline-block;
  margin-top: 50px; 
}

.main-menu {
  font-size: 15px;
  font-weight: normal;
  padding: 7px 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-menu a {
  text-decoration: none;
  color: #1A1A1A;
}

.write {
  font-weight: bold;
  display: inline-block;
  border-bottom: 2px solid #858585;
  padding-bottom: 2px;
}

.footer { 
  background-color: black;
  color: white;
  padding: 40px 0; /* Отступы сверху и снизу */
}

.footer a {
  text-decoration: none;
  color: white;
}

.footer-container {
  display: flex;
  justify-content: center; /* Горизонтальное центрирование */
  align-items: left; /* Вертикальное центрирование */
  gap: 70px; /* Расстояние между элементами */
  flex-wrap: wrap; /* Элементы переносятся на следующую строку, если не помещаются */
  max-width: 1160px;
  margin: 0 auto; 
}

.footer-container p {
  margin: 0; 
  font-size: 16px; 
}

.footer-container a {
  color: white; 
  text-decoration: none; 
}

form {
  background: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 30px;
  max-width: 600px;
  margin: 30px auto;
  margin-bottom: 70px;
  font-family: "Commissioner", sans-serif;
}

h1 {
  font-family: 'DrukTextWideCyr-Medium', sans-serif;
  text-align: center;
  font-size: 50px;
  color: #3B4649;
  margin-bottom: 20px;
}

.home-button {
  text-decoration: none;
  margin-right: 175px;
  color: #1A1A1A;
}

.form-group {
  margin-bottom: 20px;
}

.radio-label {
  margin-top: 13px;
}

.form-group label {
  display: block;
  margin-bottom: 10px;
  font-weight: 600;
  color: #1A1A1A;
}

.radio-group {
  display: flex;
  flex-direction: column; /* Расположение элементов по вертикали */
}

.radio-group div {
  display: inline-flex;
  align-items: center; /* Выравнивание по вертикали */
}

.radio-group input[type="radio"] {
  margin-right: 10px; /* Расстояние между кружочком и текстом */
}

.radio-group label {
  font-size: 16px;
  color: #1A1A1A;
  cursor: pointer; /* Указатель меняется при наведении на текст */
}

.checkbox-container {
  display: flex;
  align-items: center;
  font-size: 16px;
  color: #1A1A1A;
  cursor: pointer; 
}

.checkbox-container label {
  cursor: pointer; 
}

.checkbox-label {
  margin-top: 10px;
}

input[type="text"],
input[type="email"],
textarea,
select,
input[type="file"] {
  width: 100%;
  padding: 12px 15px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
}

textarea {
  resize: vertical;
  min-height: 100px;
}

input[type="radio"],
input[type="checkbox"] {
  margin-right: 10px;
}

input[type="radio"] + label,
input[type="checkbox"] + label {
  font-weight: 500;
  cursor: pointer;
  color: #555;
}

button[type="submit"] {
  background-color: #3B4649;
  color: #ffffff;
  padding: 13px 27px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.form-group div {
  margin-bottom: 10px;
}

form div.form-group:last-child {
  display: flex;
  align-items: center;
}

input[type="file"] {
  padding: 10px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  color: #555;
}
